body {
    background: #282828;
    margin: 0;

}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    background: #2D303A;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;

}

.block-portfolio {
    padding-bottom: 56px;
    border-bottom: 7px solid #323746;
}

.portfolio-nav {
    color: #666D89;
}

.portfolio-nav h1 {
    font-size: 28px;
    margin: 0 1px 1px 45px;
}

.portfolio-nav p {
    margin: 22px 1px 1px 40px;
    font-size: 17px;
}

.nav-list {
    margin: 15px 1px 12px 0px;
}

.nav-list li {
    display: inline-block;

}

.nav-list-link {
    color: #666D89;
    padding: 3px 6px 2px 6px;
    border: 1px solid #666D89;
    border-radius: 9%;
    font-size: 12px;
    margin-left: 6px;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #DEDEDE;
    /*    cursor: pointer; */
    border: 1px solid #DEDEDE;
    border-radius: 9%;
    padding: 3px 6px 2px 6px;
    margin-left: 6px;
}

.img-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-galery img {
    margin: 10px;

}

.img-galery img:nth-last-child(-n+3) {
    display: none;
}

.about-us {
    background: #F2F2F2;
    color: #666D89;
    padding: 30px 30px 0 30px;
    border-bottom: 7px solid #FFFFFF;
}

.about-us-h1 {
    margin: 28px 10px 10px 10px;
    font-size: 32px;
}

.text-about-us {
    line-height: 30px;
    margin: 16px 0px 45px 10px;
    font-size: 19px;
    font-weight: lighter;
}

.flex-about-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-people {
    width: 310px;
    margin-bottom: 65px;
    margin-left: 10px;

}

.about-people img {
    width: 300px;
}

.name-about-people {
    font-size: 19px;
    margin: 10px 0px 0 0px;
}

.text-about-people {
    font-size: 12px;
    margin-left: 1px;
    margin-bottom: 27px;
    line-height: 17px;
}

.fab {
    font-size: 15px;
    color: grey;
    padding: 8px;
}

.border-icons {
    margin-left: 3px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 50%;
}

.border-icons a {
    text-decoration: none;
}

.fa-google-plus-g {
    padding: 8px 6px 8px 6px;
}

.fa-facebook-f {
    font-size: 14px;
    padding: 9px 10px 9px 13px;
}